body {
    background-color: rgb(247, 188, 80);
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: 'Macondo', cursive;
}

.schermo {
    border: 2px solid #fb6311;
    height: 3rem;
    background-color: #fbfb80;

}

.container {
    border-radius: 3px;
    box-shadow: 0 0 50xp 0;
    border: 10px solid orange;
    width: 20rem;
    height: 19rem;
}

.pulsanti {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    border-color: #fb6311;
    width: 20rem;
    height: 14rem;
    padding-top: 1rem;
}

button {
    background-color: #fbfb80;
    font-family: 'Macondo', cursive;
}